{% load static %} {% load socialaccount %} {% include "header.html" %} {% include "social_main_user.html" %}

<script src="{% static 'ckeditor/ckeditor.js' %}"></script>
<div class="section is-app-grey">
    <div class="container">
        <div class="field">
            <div class="control is-combo">

                <div class="stacked-combo-box has-rounded-images">
                    <div class="box-inner">
                        <div class="combo-item">
                            <span class="selected-item">Chọn Trang Publisher</span>
                        </div>
                    </div>
                    <div class="box-chevron">
                        <i class="material-icons">keyboard_arrow_down</i>
                    </div>
                    <div class="box-dropdown">
                        <div class="dropdown-inner has-slimscroll">

                            <ul>
                                {% for i in data123 %}
                                <li data-skill="{{ i.1 }}-skill">
                                    <span class="item-icon">
                                      <img src="{{ i.2 }}" data-demo-src="{{ i.2 }}" alt="{{ i.0 }}" />
                                    </span>
                                    <span class="item-name">{{ i.0 }} | {{ i.3|capfirst }}</span>
                                    <span class="checkmark">
                                    <i class="material-icons">done</i>
                                    </span>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="field">
            <div class="control datepicker-control has-icons-right">
                <input data-toggle="datepicker" type="text" class="input is-medium" placeholder="Hẹn Ngày Đăng ..." />
                <span class="icon is-right">
              <i class="im im-icon-Calendar-4"></i>
            </span>
            </div>
        </div>

        <div class="field">
            <div class="control has-icons-left">
                <input type="text" id="is-timepicker" class="input is-medium" />
                <span class="icon is-left is-medium">
          <i class="sl sl-icon-clock"></i>
        </span>
            </div>
        </div>

        <div class="control-material is-primary">
            <input class="material-input" type="text" required />
            <span class="material-highlight"></span>
            <span class="bar"></span>
            <label>Tiêu Đề</label>
        </div>

        <textarea name="editor1" id="editor1" rows="10" cols="80"></textarea>
        <script>
            // Replace the <textarea id="editor1"> with a CKEditor 4
            // instance, using default configuration.
            CKEDITOR.replace('editor1');
            CKEDITOR.config.extraPlugins = 'emoji';
        </script>

        <div class="section-wrapper">
            <div class="uploader-controls has-text-right animated preFadeInUp fadeInUp">
                <input type="file" name="thumbnails" />
            </div>
        </div>

        <div class="control-material is-primary">
            <input class="material-input" type="text" required />
            <span class="material-highlight"></span>
            <span class="bar"></span>
            <label>Chèn Link</label>
        </div>

        <div class="control">
            <div class="bulma-tags">
                <input class="input" type="tags" placeholder="Add Tag" value="" />
            </div>
        </div>


    </div>
</div>

{% include "footer.html" %}

<script>
    let abc = $('.bulma-tags .input').val()
</script>