{% load socialaccount %} {% include "header.html" %}
<div class="pageloader"></div>
<div class="infraloader is-active"></div>
<div class="auth-box shadow">
  <div class="columns is-vcentered">
    <div class="columns">
      <!-- Featured Post -->
      <div class="column is-8">
          <div class="main-post">
              <!-- Featured image -->
              <div class="post-image">
                  <img src="https://source.unsplash.com/SYTO3xs06fU/1600x900" alt="" data-demo-src="https://source.unsplash.com/SYTO3xs06fU/1600x900">
                  <div class="image-overlay"></div>
              </div>
              <!-- Featured Content -->
              <div class="post-content">
                  <h3>
                      <a href="#">How a designer can benefit from learning to code</a>
                  </h3>
                  <span class="time">september 10 2018</span>
                  <p>
                      Homines enim eruditos et sobrios ut infaustos et inutiles
                      vitant, eo quoque accedente quod et nomenclatores adsueti haec
                      et talia venditare, mercede accepta lucris quosdam et prandiis
                      inserunt subditicios ignobiles et obscuros.
                  </p>
                  <a class="read-more" href="#">Continue reading <i class="im im-icon-Right"></i></a>
              </div>
          </div>
      </div>
      <div class="column is-4">
          <div class="side-post">
              <div class="post-image">
                  <img src="https://source.unsplash.com/RgXO6LZbZgg/1600x900" alt="" data-demo-src="https://source.unsplash.com/RgXO6LZbZgg/1600x900">
                  <div class="image-overlay"></div>
              </div>
              <div class="post-content">
                  <h3><a href="#">Learning design has become trendy in 2018</a></h3>
                  <p>
                      Homines enim eruditos et sobrios ut infaustos et inutiles
                      vitant, eo quoque accedente quod...
                  </p>
              </div>
          </div>
          <div class="side-post">
              <div class="post-image">
                  <img src="https://source.unsplash.com/V4EOZj7g1gw/1600x900" alt="" data-demo-src="https://source.unsplash.com/V4EOZj7g1gw/1600x900">
                  <div class="image-overlay"></div>
              </div>
              <div class="post-content">
                  <h3><a href="#">Welcome to Elsa, our new mentor</a></h3>
                  <p>
                      Homines enim eruditos et sobrios ut infaustos et inutiles
                      vitant, eo quoque accedente quod...
                  </p>
              </div>
          </div>
          <!-- Recent Post -->
          <div class="side-post">
              <!-- Featured image -->
              <div class="post-image">
                  <img src="https://source.unsplash.com/_3bUXLk6Dgs/1600x900" alt="" data-demo-src="https://source.unsplash.com/_3bUXLk6Dgs/1600x900">
                  <div class="image-overlay"></div>
              </div>
              <!-- Featured content -->
              <div class="post-content">
                  <h3><a href="#">5 tips to draw pixel perfect icons</a></h3>
                  <p>
                      Homines enim eruditos et sobrios ut infaustos et inutiles
                      vitant, eo quoque accedente quod...
                  </p>
              </div>
          </div>
      </div>
  </div>
  </div>
</div>
{% include "footer.html" %}
